.create-nft {
    display: flex;
    justify-content: center;
    padding: 2% 16%;
    text-align: center;
    @media (max-width: 768px) {
        padding: 4%;
    }
    .form-container {
        .title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 12px;
        }
        .upload-btn {
            border: 1px solid #2F3A8F;
            color: #2F3A8F;
        }
        .upload-product {
            margin: 8px 0 16px 0;
        }
        .product-info {
            .get-input {
                .property-grid {
                    padding: 8px 16px 8px 0;
                    .property-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .subject {
                            .property {
                                display: flex;
                                align-items: center;
                                .property-title {
                                    margin-right: 8px;
                                }
                            }
                            .property-subtitle {
                                color: rgba(0, 0, 0, 0.6);
                                font-weight: 400;
                                font-size: 0.75rem;
                                line-height: 1.66;
                                text-align: right;
                                margin-top: 3px;
                                margin-right: 32px;
                            }
                        }
                    }
                }
            }
            .action {
                margin: 24px 8px 0 0;
                &.submit {
                    background-color: #2F3A8F;
                }
                &.cancel {
                    color: #2F3A8F;
                    border-color: #2F3A8F;
                }
            }
        }
    }
    .result {
        margin: 60px 0;
        .success-created-container {
            display: flex;
            justify-content: center;
            .success-created {
                background-color: #2e7d32;
                color: white;
                padding: 2%;
                border-radius: 8px;
                margin-bottom: 8px;
                width: fit-content;
            }
        }
    }
}