.profile-page {
    .profile-info {
        .background {
            height: 140px;
            background: url(`../../../images/profile-background.jpg) transparent no-repeat center center / cover;
        }
        .information {
            margin: -60px 24px 0 0;
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
                margin-right: 8px;
            }
            .profile-picture {
                border-radius: 50%;
                background-color: white;
                width: 120px;
                height: 120px;
                overflow: hidden;
                &.no-pic {
                    padding: 2px;
                }
                img {
                    aspect-ratio: 1;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                }
            }
            .name-and-wallet {
                margin-top: -6px;
                margin-right: 12px;
                .name {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: white;
                    font-size: 18px;
                    margin-bottom: 16px;
                }
                .wallet {
                    display: flex;
                    color: #62688F;
                    align-items: center;
                    .copy-btn {
                        color: #62688F;
                        padding: 2px 8px;
                        min-width: unset;
                        margin-right: 8px;
                        border-color: #62688F;
                    }
                }
                .edit-btn {
                    padding: 4px 4px;
                    min-width: unset;
                    margin-right: 8px;
                    position: absolute;
                    left: 24px;
                    @media (max-width: 768px) {
                        left: 8px;
                    }
                    .edit-text {
                        margin-right: 4px;
                        padding: 2px;
                        @media (max-width: 768px) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .edit-profile-btn {
        padding: 0px 36px;
    }
    .additional-information {
        padding: 8px 26px;
    }
    .contents {
        min-height: 420px;
        padding: 26px;
        .tabs-container {
            .tabs-contents {
                padding: 24px 0;
                text-align: center;
            }
        }
        .edit-profile-container {
            .get-input {
                display: flex;
                .subject {
                    margin-left: 8px;
                }
            }
            .action {
                margin: 46px 8px 0 0;
                float: left;
                &.submit {
                    color: white;
                    background-color: #2F3A8F;
                }
                &.cancel {
                    color: #2F3A8F;
                    border-color: #2F3A8F;
                }
            }
        }
    }
}