.profile-page {
    .profile-info {
        .background {
            height: 140px;
            background: url(`../../../images/profile-background.jpg) transparent no-repeat left center / cover;
        }
        .information {
            margin: -60px 24px 0 0;
            display: flex;
            align-items: center;
            .profile-picture {
                border-radius: 50%;
                background-color: white;
                width: 120px;
                height: 120px;
                overflow: hidden;
                padding: 2px;
            }
            .name-and-wallet {
                margin-top: -6px;
                margin-right: 12px;
                .name {
                    color: white;
                    font-size: 18px;
                    margin-bottom: 16px;
                }
                .wallet {
                    display: flex;
                    color: #62688F;
                    align-items: center;
                    .copy-btn {
                        color: #62688F;
                        padding: 2px 8px;
                        min-width: unset;
                        margin-right: 8px;
                        border-color: #62688F;
                    }
                }
            }
        }
    }
    .additional-information {
        padding: 8px 26px;
    }
    .tabs-container {
        padding: 26px;
        .tabs-contents {
            padding: 24px 0;
            text-align: center;
        }
    }
}