.search-page-container {
    display: flex;
    padding: 8px;
    justify-content: center;
    width: 100%;
    .search-page {
        min-height: 90vh;
        width: 100%;
        display: flex;
        justify-content: center;
        .section {
            margin: 8px 0;
            padding: 8px;
            background-color: #E1E3E2;
            .section-title {
                font-size:x-large;
                margin-right: 8px;
            }
        }
        .not-found-section {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
    
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}