@import './sprite.css';

.connect-wallet {
    display: table;
    margin: 40px auto 0;
    text-align: center;
    padding: 30px 16px;
}

.connect-wallet h3 {
    font-size: 22px;
    margin-bottom: 0 !important;
}

.connect-wallet p {
    display: block;
    margin-bottom: 25px;
}

.wallet-list {
    background: #fff;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
    height: 231px;
    padding-bottom: 58px;
    overflow: hidden;
    position: relative;
    transition: all ease-in-out 0.5s;
}

.wallet-list.open {
    height: 753px;
}

.wallet-item {
    position: relative;
    cursor: pointer;
    direction: ltr;
    text-align: left;
    padding: 10px 15px 15px;
    border-bottom: 1px solid rgb(191, 191, 191);
    transition: all ease-in-out 0.3s;
}

.wallet-item.disable {
    opacity: 0.6;
    cursor: not-allowed;
}

.wallet-item.disable:hover {
    box-shadow: unset;
}

.wallet-item:first-child {
    border-radius: 10px 10px 0 0;
}

.wallet-item:last-child {
    border-radius: 0 0 10px 10px;
}

.wallet-item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.wallet-item:last-child {
    border-bottom: unset;
}

.wallet-item i {
    position: relative;
    top: 6px;
    margin-right: 10px;
}

.wallet-tag {
    position: absolute;
    right: 15px;
    font-size: 13px;
    top: 20px;
    color: gray;
}

.wallet-list-handler {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #fff;
    border: 0;
    height: 57px;
    color: rgb(112, 122, 131);
    font-size: 16px;
    transition: all ease-in-out 0.3s;
}

.wallet-list-handler:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.explore-title {
    display: block;
    text-align: center;
    padding: 45px 0 25px;
}

.explore-container {
    margin-bottom: 40px;
    padding: 0 0 0 46px;
}

@media only screen and (max-width: 768px) {
    .explore-container {
        padding: 0 24px 0 8PX;
    }
}

.explore-container .MuiTabs-fixed {
    text-align: center;
    margin-bottom: 30px !important;
}

.explore-container .MuiTabs-flexContainer {
    display: inline-block !important;
    margin: 0 auto !important;
    text-align: center !important;
}

.nft-collection-parent .header-image {
    width: 100%;
    height: 8vw;
}
@media only screen and (max-width: 768px) {
    .nft-collection-parent .header-image{
        width: 100%;
        height: 28vw;
    }
}

.nft-collection-parent h5 {
    display: block;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
    font-size: 25px;
}

.nft-collection-parent .profile-image {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    border: 3% solid #fff;
    position: relative;
    right: 50%;
    transform: translateX(50%);
    margin-top: -3.5vw;
}

.nft-collection-parent span {
    display: block;
    text-align: center;
    font-size: 1.1vw;
}

.nft-collection-parent p {
    text-align: center;
    padding: 0 10%;
    margin-bottom: 20%;
    font-size: 0.8vw;
}

.nft-collection-parent,
.nft-collection-parent a {
    text-decoration: none;
}

.browse-sidebar {
    -ms-overflow-style: none;
    height: calc(70vh - 15vw);
    padding-top: 5%;
    width: 200px;
    margin: 0 16px 100px 0;
}

.filterbox_title {
    text-align: center;
}

.filer_gheymat {
    text-align: start;

}

.gheymat_title {
    direction: rtl;
    margin-right: 20px;
}

.mintext {
    text-align: right;
    margin-right: 3vw;
}

.mainbody {
    flex: 1 1;
    margin-top: 5vh;
    min-height: 80vh;
    padding: 0 0 0 1.75rem;
    top: 0;
    width: auto;
}

.min-max-parent div {
    font-size: 16px;
}

.min-max-parent div:first-child {
    margin-bottom: 10px;
}

.min-max-parent input {
    text-align: center;
}

.range-price {
    text-align: center;
    margin: 10px;
}

.findbtn {
    background-color: #2F3A8F !important;
    color: white !important;
    border-radius: 16px !important;
    width: 98% !important;
    font-weight: bold !important;
}

.reset-find-btn {
    background-color: crimson !important;
}

.back-icon {
    margin-right: 99%;
    margin-bottom: 1%;
}

.price-number {
    color: blue;
    display: block;
    text-align: center;
    font-size: 0.8vw;
    padding: 0 5%;
}

#nftfilter-price {
    font-size: 13px;
    color: blue;
}
.nft-img-my-request{
    width: 150px;
    height: 150px;
    float: right;
    border-radius: 10px;

}
.nft-name-my-request{
    font-size: 18px;
    text-align: left;
    margin-right: 10%;
    display: inline-block;
}
.nft-price-my-request{
    font-size: 18px;
    margin-right: 10%;
    text-align: center;
    color: blue;
    direction: ltr;
    display: inline-block;
}
.nft-state-my-request{
    font-size: 18px;
    margin-right: 10%;
    text-align: center;;
    display: inline-block;
}
.request{
    margin-top: 15px;
    text-align: right;
    padding: 2%;
    border-bottom: 1px solid black;
    display: flex;
    width: 100%;
}
.requestlabel{
    font-size: 20px;
    margin-right: 3%;
    display: inline-block;
}
.neveshtani{
    float: right;
    width: calc(100% - 150px);
    margin-right: 20px;
    margin-top: 15px;
}
#one{
    color: green;
}
#two{
 color: red;
}
.btn-request{
    background-color: transparent;
    border: 2px solid #2F3A8F;
    color: #2F3A8F;
    border-radius: 16px;
    float: left;
    width: 150px;
    font-weight: bold;
}